<article class="l-Wrapper">

  {% include personal_info.html %}

  <section class="l-Section">
    <h2 class="l-Section-title h3">Education</h2>
    <div class="l-Section-content">
      <h3>Diploma in Mining and Metallurgical Engineering</h3>
      <a class="u-link" href="http://eng.metal.ntua.gr/" target="_blank">National Technical University of Athens (NTUA)</a>
      <div class="date-range">2012-2017</div>
      <ul class="description" style="list-style: none;">
        <li><strong>Specializations:</strong> Mining Engineering, Geotechnology</li>
        <li><strong>GPA:</strong> 8.3/10</li>
        <li><strong>Diploma Thesis:</strong> <a class="u-link" href="{{ "files/diploma_thesis.pdf" | relative_url }}" target="_blank">Impact of Landscape Composition Alteration in the Visual Perception of an Open Pit
        Mine Applying Eye Movement Tracking Analyses</a></li>
      </ul>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Work Experience</h2>
    <div class="l-Section-content">
      <h3>Internship (3 months)</h3>
      <a class="u-link" href="https://www.dei.gr/en/i-dei" target="_blank">Public Power Corporation S.A.</a>
      <div class="date-range">June - August 2016</div>
      <ul class="description" style="list-style: none;">
        <li>Slope stability evaluation at the <a class="u-link" href="https://en.wikipedia.org/wiki/Megalopoli_Mine" target="_blank">Megalopolis Lignite Center</a></li>
      </ul>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Software & Programming Skills</h2>
    <div class="l-Section-content">
      <strong class="Tag">AutoCAD</strong>
      <strong class="Tag">Surpac</strong>
      <strong class="Tag">Arena/GPSS</strong>
      <strong class="Tag">MATLAB</strong>
      <strong class="Tag">Visual Basic</strong>
      <strong class="Tag">Pascal</strong>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Languages</h2>
    <div class="l-Section-content">
      <h3>Greek</h3>
      <div class="date-range">Native</div>

      <h3>English</h3>
      <div class="date-range">Cambridge Certificate of Proficiency in English</div>
      <div class="date-range">Level C1</div>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Publications</h2>
      <div class="l-Section-content">

      <p>
        Loukas-Moysis Misthos, Alexandros Pavlidis, <strong>Emmanouil Karabassakis</strong>, Maria Menegaki, Vassilios Krassanakis & Byron Nakos
        (2019) <a class="u-link" href="{{ "files/pub_17480930.2019.1576582.pdf" | relative_url }}" target="_blank">Exploring the visual impact from open pit mines applying eye movement analyses on mining landscape photographs</a>,
        International Journal of Mining, Reclamation and Environment, 2019
      </p>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Academic Presentations</h2>
    <div class="l-Section-content">
      <ul>
        <li>Comparative Analysis of Accident Rates across the Global Mining Industry (2015)</li>
        <li>Evaluation of the Athens Airport Fuel Pipeline Company (2015)</li>
        <li>Robotic Drilling Systems (2016)</li>
        <li>International Outlook of Oil & Natural Gas Markets: Stock, Production, Distribution Networks, Energy Dependence of
        Greece and Europe (2016)</li>
        <li>Kinematic Analysis and Evaluation of Landslide Hazard at the Megalopolis Lignite Mines (2016)</li>
      </ul>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Activities</h2>
    <div class="l-Section-content">
      <ul>
        <li>Tour of <a class="u-link" href="https://www.hellas-gold.com/" target="_blank">Hellas Gold S.A.</a> mines in Northern Greece & report on the company’s current activities. (August 2015)</li>
        <li>Rapporteur at International Oil Conference, organized by <a class="u-link" href="https://www.helpe.gr/en/" target="_blank">Hellenic Petroleum S.A.</a> (June 2017)</li>
        <li>Presentation of <a class="u-link" href="http://www.promracingteam.com/fsae/" target="_blank">Formula SAE</a> race car prototype at the Athens <a class="u-link" href="http://www.researchersnight.gr/" target="_blank">Researcher’s Night</a>, with the <a class="u-link" href="http://www.promracingteam.com/" target="_blank">NTUA Prom Racing team</a>
        (September 2016)</li>
      </ul>
    </div>
  </section>

  <section class="l-Section">
    <h2 class="l-Section-title h3">Personal Interests</h2>
    <div class="l-Section-content">
      <ul>
        <li>Hobbyist automotive mechanic, with experience in car engine performance improvement</li>
        <li>Administrator of <a class="u-link" href="https://www.facebook.com/groups/RenaultPerformanceClub.gr/" target="_blank">online community of car enthusiasts</a> with over 1200 members</li>
        <li>Amateur graphic/logo designer</li>
      </ul>
    </div>
  </section>
</article>
