<div class="l-Header">
  <div class="l-Header-col">
    <div class="l-CvImageWrapper">
      <img src="{{ "assets/img/mkarabasakis.jpg" | relative_url }}" class="l-CvImage" alt="">
    </div>
  </div>

  <div class="l-Header-col">
    <a href="http://www.sonjastrieder.com" target="_blank">
      <h1 class="Title">
        <span class="u-shadow">
          Manolis<br>Karabasakis
        </span>
        <span class="Title-sub">Mining & Metallurgical Engineer</span>
      </h1>
    </a>

    <div class="Contact">
      <div>Athens, Greece</div>
      <div><a class="u-link" href="mailto:mkarabasakis@gmail.com" target="_blank">mkarabasakis@gmail.com</a></div>
    </div>
  </div>
</div>
