<div class="l-Header">
  <div class="l-Header-col">
    <div class="l-CvImageWrapper">
      <img src="{{ "assets/img/mkarabasakis.jpg" | relative_url }}" class="l-CvImage" alt="">
    </div>
  </div>

  <div class="l-Header-col">
    <a href="http://www.sonjastrieder.com" target="_blank">
      <h1 class="Title">
        <span class="u-shadow">
          Manolis<br>Karabasakis
        </span>
        <span class="Title-sub">Mining & Metallurgical Engineer</span>
      </h1>
    </a>

    <div class="Contact">
      <div>
        <div>Athens, Greece</div>
        <div class="u-contact">
          <span class="u-hidden phone"><i class="fas fa-phone-square"></i> +30 697 6988 357 &nbsp;&nbsp;</span>
          <span class="email"><i class="fas fa-envelope-square"></i> <a class="u-link" href="mailto:mkarabasakis@gmail.com">mkarabasakis@gmail.com</a><span>
        </div>
      </div>

      <div class="u-hidden">
        <table>
          <tr><th>Date of Birth</th><td>March 2nd, 1994</td></tr>
          <tr><th>Marital Status</th><td>Single</td></tr>
          <tr><th>Military Service</th><td>Fulfilled</td></tr>
          <tr><th>Driving Licence</th><td>Class B</td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
